TOOLCHAIN_PREFIX=aarch64
PLATFORM=mt7987

ATF_LOG_LEVEL=30
BL2_BUILD_OPTIONS=
ATF_BUILD_OPTIONS=
BL2_OUT_NAME=bl2.img
SOC_FW_NAME=bl31
SOC_FW_PARAM=--soc-fw

ATF_VARIANTS="nor emmc sd spim_nand_2k_64 spim_nand_2k_128 spim_nand_4k_256"

ATF_NAME_nor=nor
ATF_NAME_emmc=emmc
ATF_NAME_sd=sd
ATF_NAME_spim_nand_2k_64=spim-nand-2k+64
ATF_NAME_spim_nand_2k_128=spim-nand-2k+128
ATF_NAME_spim_nand_4k_256=spim-nand-4k+256

BL2_VARIANT_OPTIONS_nor="BOOT_DEVICE=nor"
BL2_VARIANT_OPTIONS_emmc="BOOT_DEVICE=emmc"
BL2_VARIANT_OPTIONS_sd="BOOT_DEVICE=sdmmc"
BL2_VARIANT_OPTIONS_spim_nand_2k_64="BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+64"
BL2_VARIANT_OPTIONS_spim_nand_2k_128="BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+128"
BL2_VARIANT_OPTIONS_spim_nand_4k_256="BOOT_DEVICE=spim-nand NAND_TYPE=spim:4k+256"

UBOOT_VARIANTS="spim_nand spim_nor emmc sd"

UBOOT_NAME_spim_nand=spim-nand
UBOOT_NAME_spim_nor=spim-nor
UBOOT_NAME_emmc=emmc
UBOOT_NAME_sd=sd

UBOOT_DEFCONFIG_spim_nand=mt7987_spim_nand_rfb_defconfig
UBOOT_DEFCONFIG_spim_nor=mt7987_spim_nor_rfb_defconfig
UBOOT_DEFCONFIG_emmc=mt7987_emmc_rfb_defconfig
UBOOT_DEFCONFIG_sd=mt7987_sd_rfb_defconfig
