CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7987=y
CONFIG_TARGET_mediatek_mt7987_DEVICE_glinet_gl-mt3600be=y
CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_PACKAGE_mtk-wifi-runtime=y
CONFIG_PACKAGE_mtk-phy-firmware=y
# CONFIG_PACKAGE_kmod-crypto-eip is not set
# CONFIG_PACKAGE_wpad-basic-wolfssl is not set
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_DEVMEM=y
# CONFIG_KERNEL_KEYS is not set
CONFIG_PACKAGE_kmod-mptcp=y
CONFIG_PACKAGE_kmod-inet-diag=y
